<!doctype html>
<html lang="en" class="remember-theme">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Sign In - Plant Disease Detection</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='media/favicons/favicon.png') }}">

    <!-- Stylesheets -->
    <link rel="stylesheet" id="css-main" href="{{ url_for('static', filename='css/dashmix.min.css') }}">
    
    <!-- Set Theme -->
    <script src="{{ url_for('static', filename='js/setTheme.js') }}"></script>
    
    
  </head>

  <body>
    <div id="page-container">
      <main id="main-container">
        <div class="bg-image" style="background-image: url({{ url_for('static', filename='media/photos/Bg_login_page.avif') }});">
          <div class="row g-0 bg-primary-op">
            
            <!-- Sign-In Section -->
            <div class="hero-static col-md-6 d-flex align-items-center bg-body-extra-light" style="background-color: white;">
              <div class="p-3 w-100">
                
                <!-- Header -->
                <div class="mb-3 text-center">
                  <a class="link-fx fw-bold fs-1" href="{{ url_for('home') }}">
                    <span class="text-dark">Agricultural</span><span class="text-primary">AI Assistant</span>
                  </a>
                  <p class="text-uppercase fw-bold fs-sm text-muted">Sign In</p>
                </div>
                <!-- END Header -->

                <!-- Sign In Form -->
                <div class="row g-0 justify-content-center">
                  <div class="col-sm-8 col-xl-6">
                    <form class="js-validation-signin" action="{{ url_for('signin') }}" method="POST">
                      <div class="py-3">
                        <div class="mb-4">
                          <input type="email" class="form-control form-control-lg form-control-alt" id="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="mb-4">
                          <input type="password" class="form-control form-control-lg form-control-alt" id="password" name="password" placeholder="Password" required>
                        </div>
                      </div>
            
                      <div class="mb-4">
                        <button type="submit" class="btn w-100 btn-lg btn-hero btn-primary">
                          <i class="fa fa-fw fa-sign-in-alt opacity-50 me-1"></i> Sign In
                        </button>
                        <p class="mt-3 mb-0 d-lg-flex justify-content-lg-between">
                          <a class="btn btn-sm btn-alt-secondary d-block d-lg-inline-block mb-1" href="#">
                            <i class="fa fa-exclamation-triangle opacity-50 me-1"></i> Forgot password
                          </a>
                          <a class="btn btn-sm btn-alt-secondary d-block d-lg-inline-block mb-1" href="{{ url_for('signup') }}">
                            <i class="fa fa-plus opacity-50 me-1"></i> New Account
                          </a>
                        </p>
                      </div>
                      {% if message %}
                      <p style="color: red; margin-top: 5px;">{{ message }}</p>
                      {% endif %}
                    </form>
                  </div>
                </div>
                <!-- END Sign In Form -->

              </div>
            </div>
            <!-- END Sign-In Section -->

            <!-- Welcome Section -->
            <div class="hero-static col-md-6 d-none d-md-flex align-items-md-center justify-content-md-center text-md-center">
              <div class="p-3">
                <p class="display-4 fw-bold text-white mb-3" style="padding: 1.5rem;">Welcome to Agricultural AI Assistant</p>
                <p class="fs-lg fw-semibold text-white-75 mb-0" >© <span data-toggle="year-copy"></span></p>
              </div>
            </div>
            <!-- END Welcome Section -->
          </div>
        </div>
      </main>
    </div>

    <!-- Dashmix JS -->
    <script src="{{ url_for('static', filename='js/dashmix.app.min.js') }}"></script>
    
    <!-- jQuery (Required for Validation) -->
    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    
    <!-- Validation Plugin -->
    <script src="{{ url_for('static', filename='js/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
    
    <!-- Page JS -->
    <script src="{{ url_for('static', filename='js/pages/op_auth_signin.min.js') }}"></script>
  </body>
</html>
